.home-container {
  display: flex;
  width: 100%;
  height: 90vh;
}
.container {
  display: flex;
  justify-content: between;
}
.left,
.right {
  width: 50%;
}

.home-left,
.home-right {
  flex: 1;
  height: 100%;
}
.image-wrapper {
  width: 100%;
  height: 100%;
}

.home-right {
  background-color: #1f2020;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2020;
}

.image-wrapper img {
  width: 90%;
  height: 90%;
  align-items: center;
  object-fit: cover;
  filter: grayscale(100%);
  padding: 30px 0 0 20px;
}

.home-left {
  background-color: #1f2020;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 60px 40px 40px;
}
.social-icons {
  display: flex;
  justify-content: left;
  gap: 50px;
  margin-top: 40px;
  padding-top: 20px;
}

.social-icons a {
  color: white;
  font-size: 30px;
  transition: transform 0.2s ease;
}

.social-icons a:active {
  color: red;
}
.social-icons a:hover {
  color: gold;
}

.text-content {
  max-width: 800px;
}
.about {
  font-size: 80px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}
.about::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 60px;
  height: 2px;
  background-color: white;
}
textarea::placeholder {
  color: white;
  opacity: 0.8;
}
textarea {
  padding: 20px 10px 10px;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  font-size: 1rem;
  outline: none;
  width: 100%;
  resize: none;
  box-sizing: border-box;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
}

.bold {
  font-weight: 700;
  color: #fff;
}

.description {
  text-align: justify;
  max-width: none;
  padding-top: 20px;
  font-size: 18px;
  color: #bbb;
  margin-bottom: 30px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  padding-right: 10px;
}

.cta-section {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
    height: auto;
  }

  .left,
  .right {
    width: 100%;
  }

  .right {
    margin-top: 20px;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .home-container {
    flex-direction: column;
    height: auto;
  }

  .home-left,
  .home-right {
    width: 100%;
    height: auto;
  }

  .image-wrapper {
    height: auto;
  }

  .image-wrapper img {
    height: auto;
    max-height: 300px; /* optional: limit height on small screens */
  }

  .home-right {
    padding: 20px;
    text-align: center;
    justify-content: flex-start;
  }

  .text-content {
    max-width: 100%;
  }

  .cta-section {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
  }

  .explore-btn,
  .play-btn {
    width: 80%;
  }
}

@media (max-width: 768px) {
  textarea {
    padding: 15px 10px 10px;
  }
}
