.portfolio-section {
  position: relative;
  background-color: #1f2020;
  color: white;
  padding: 60px 20px;
  text-align: center;
  height: 90vh;
}

.portfolio-title {
  font-size: 80px;
  margin-bottom: 2px;
  font-weight: normal;
}

.title-underline {
  width: 60px;
  height: 2px;
  background-color: white;
  margin: 0 auto 40px 545px;
}

.arrow-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Wrapper: Arrows + Scroll */
.portfolio-scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  padding: 0 60px;
}

/* Scroll container (scrolls horizontally only) */
.portfolio-scroll-container {
  overflow-x: auto;
  margin: 20px;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
  flex: 1;
  height: auto;
}

/* Hide scrollbar (Chrome) */
.portfolio-scroll-container::-webkit-scrollbar {
  display: none;
}

/* Grid of cards */
.portfolio-grid {
  display: flex;
  gap: 30px;
  padding: 0 10px;
  width: max-content;
  height: ;
}
.portfolio-card h3 {
  margin: 5px 0 0;
  font-weight: bold;
  margin-bottom: 10px;
}

.portfolio-card p {
  color: #ccc;
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 2px 0;
}

/* Individual Card */
.portfolio-card {
  background-color: transparent;
  max-width: 300px;
  min-width: 300px;
  height: 340px;
  text-align: center;
  flex-shrink: 0;
  scroll-snap-align: start;
}
.scroll-btn {
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 24px;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
}

.scroll-btn:hover {
  background-color: white;
  color: #1f2020;
}
.scroll-left {
  left: 10px;
}

.scroll-right {
  right: 10px;
}
.portfolio-card img {
  width: 100%;
  height: 70%;
  border-radius: 4px;
  margin-bottom: 20px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .portfolio-grid {
    flex-direction: column;
    align-items: center;
  }
}
